body { padding-top: 80px; }

/* Mobile Layout: 480px and below. */

.ad_1 { display:block; }
.ad_768 { display:none; }
.ad_992 { display:none; }
.ad_1200 { display:none; }
.video_wrapper .video > iframe {height:490px;}


/* Tablet Layout: 768px to 992px. Inherits styles from: Mobile Layout. */
@media ( min-width: 768px ) {
#banner {
    min-height: 300px;
    border-bottom: none;
}
.bs-docs-section {
}
.bs-component {
    position: relative;
}
.bs-component .modal {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    z-index: 1;
    display: block;
}
.bs-component .modal-dialog {
    width: 90%;
}
.bs-component .popover {
    position: relative;
    display: inline-block;
    width: 220px;
    margin: 20px;
}
.nav-tabs {
    margin-bottom: 15px;
}
.progress {
    margin-bottom: 10px;
}
.MOV_BOX_res h2{
	font-size:1em;
	height:9em;
	width:100%;
	line-height:1.5em;
	overflow:hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis; /* Opera9,10対応 */
}

.content_list_more [class*="col"] .MOV_thumb_box {
	border-bottom:dashed 1px #dddddd;
}
.content_list_more [class*="col"]:nth-last-of-type(1) .MOV_thumb_box,.row [class*="col"]:nth-last-of-type(2) .MOV_thumb_box,.row [class*="col"]:nth-last-of-type(3) .MOV_thumb_box {
	border-bottom:0px;
}

.ad_1 { display:none; }
.ad_768 { display:block; }
.ad_992 { display:none; }
.ad_1200 { display:none; }
.video_wrapper .video > iframe {height:610px;}

}

/* Desktop Layout: 992px to a max of 1200px.  Inherits styles from: Mobile Layout and Tablet Layout. */
@media ( min-width: 992px ) {
#banner {
    min-height: 300px;
    border-bottom: none;
}
.bs-docs-section {
}
.bs-component {
    position: relative;
}
.bs-component .modal {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    z-index: 1;
    display: block;
}
.bs-component .modal-dialog {
    width: 90%;
}
.bs-component .popover {
    position: relative;
    display: inline-block;
    width: 220px;
    margin: 20px;
}
.nav-tabs {
    margin-bottom: 15px;
}
.progress {
    margin-bottom: 10px;
}
.more_gdj {
	padding:10px 0px;
}
.more_gdj > .content {
	padding:10px 0px;
}
.MOV_BOX_res h2{
	font-size:1em;
	height:8.7em;
	width:100%;
	line-height:1.3em;
	overflow:hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis; /* Opera9,10対応 */
}
.content_list_more [class*="col"] .MOV_thumb_box {
	border-bottom:dashed 1px #dddddd;
}
.content_list_more [class*="col"]:nth-last-of-type(1) .MOV_thumb_box,.row [class*="col"]:nth-last-of-type(2) .MOV_thumb_box,.row [class*="col"]:nth-last-of-type(3) .MOV_thumb_box {
	border-bottom:0px;
}

.ad_1 { display:none; }
.ad_768 { display:none; }
.ad_992 { display:block; }
.ad_1200 { display:none; }
.video_wrapper .video > iframe {height:450px;}

}


/* Desktop Layout: 1200px to a max.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media ( min-width: 1200px ) {
#banner {
    min-height: 300px;
    border-bottom: none;
}
.bs-docs-section {
}
.bs-component {
    position: relative;
}
.bs-component .modal {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    z-index: 1;
    display: block;
}
.bs-component .modal-dialog {
    width: 90%;
}
.bs-component .popover {
    position: relative;
    display: inline-block;
    width: 220px;
    margin: 20px;
}
.nav-tabs {
    margin-bottom: 15px;
}
.progress {
    margin-bottom: 10px;
}
.MOV_BOX_res h2{
	font-size:1em;
	height:9em;
	width:100%;
	line-height:1.5em;
	overflow:hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis; /* Opera9,10対応 */
}

.content_list_more [class*="col"] .MOV_thumb_box {
	border-bottom:dashed 1px #dddddd;
}
.content_list_more [class*="col"]:nth-last-of-type(1) .MOV_thumb_box,.row [class*="col"]:nth-last-of-type(2) .MOV_thumb_box,.row [class*="col"]:nth-last-of-type(3) .MOV_thumb_box {
	border-bottom:0px;
}

.ad_1 { display:none; }
.ad_768 { display:none; }
.ad_992 { display:none; }
.ad_1200 { display:block; }
.video_wrapper .video > iframe {height:610px;}
}





/* 共通
----------------------------------------------------------*/

.mov_thumb {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.mov_thumb iframe,
.mov_thumb object,
.mov_thumb embed {
    position: absolute;
    top: 0;
    right: 0;
    width: 100% !important;
    height: 100% !important;
}
.mov_thumb .time {
	position:absolute;
	left:2px;
	bottom:2px;
	display:inline-block;
	background:#000000;
	color:#ffffff;
	font-size:0.8em;
	line-height:0.8em;
	padding:1px 4px 2px;
	border-radius:3px;
	opacity:0.7;
}
.MOV_BOX_res .keyword {
	float:left;
	display:block;
	height:2.9em;
	overflow:hidden;
}
.MOV_BOX_res .keyword > a{
	margin-right:3px;
}
.MOV_BOX_res .keyword > a:last-of-type{
	margin-right:0px;
}
.video_detail .MOV_BOX_res .keyword {
	float:left;
	display:block;
	width : -webkit-calc(100% - 100px) ;
	width : calc(100% - 100px) ;
}
.MOV_BOX_res .time {
	position:relative;
	float:right;
	display:block;
	width:100px;
	text-align:center;
	padding-top:4px;

}
.form-group .checkbox { line-height:3em;}
.form-group .checkbox label { padding-left:12px;}
.form-group .checkbox label.btn-lg, .form-group .checkbox label.btn-group-lg > .btn { padding: 10px 20px; }
.form-group .checkbox label.btn-sm, .form-group .checkbox label.btn-group-sm > .btn { padding: 5px 10px; }
.form-group .checkbox label.btn-xs, .form-group .checkbox label.btn-group-xs > .btn { padding: 1px 5px; }

.form-group .checkbox label input[type=checkbox]{
	display:none;
}

.more_gdj > .adv {
    display: table;
    margin: 10px auto 10px;
}
#footer {
	text-align:center;
}
.margin-top_s {
	margin-top:1em;
}
.margin-bottom_s {
	margin-bottom:1em;
}
.padding-top_s{
	padding-top:1em;
}
.padding-bottom_s {
	padding-bottom:1em;
}
.centering {
	display:table;
	margin-left:auto;
	margin-right:auto;
}

