body { padding-top: 80px; }

/* Mobile Layout: 480px and below. */
.ad_1 { display:block; }
.ad_768 { display:none; }
.ad_992 { display:none; }
.ad_1200 { display:none; }
h2{ font-size:1em !important;}


.video_wrapper {
	padding-left: 0;
}

.MOV_thumb_box {
	/*height:252px;*/
	box-sizing:border-box;
}

.MOV_BOX_res {
	/*padding-left: 12px;*/
}

.MOV_BOX_res h2{
	font-size:0.9em !important;
	height:2.9em;
	width:100%;
	line-height:1.5em;
	overflow:hidden;
	text-overflow: ellipsis;
	padding:0px 5px;
	-o-text-overflow: ellipsis; /* Opera9,10対応 */
}
.MOV_BOX_res .keyword {
	height:3.2em;
	margin-bottom:0px;
}
.side_menu_section .read_TXT {
	padding-left:1em;
}
.side_menu_section .side_menu_box_border .side_menu_List {
	padding:5px 0px;
	border-bottom: solid 1px #eee;
}

/* Tablet Layout: 768px to 992px. Inherits styles from: Mobile Layout. */
@media ( min-width: 768px ) {
#banner {
    min-height: 300px;
    border-bottom: none;
}
.bs-docs-section {
}
.bs-component {
    position: relative;
}
.bs-component .modal {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    z-index: 1;
    display: block;
}
.bs-component .modal-dialog {
    width: 90%;
}
.bs-component .popover {
    position: relative;
    display: inline-block;
    width: 220px;
    margin: 20px;
}
.nav-tabs {
    margin-bottom: 15px;
}
.progress {
    margin-bottom: 10px;
}
.MOV_thumb_box {
	/*height:240px;*/
	box-sizing:border-box;
}
.MOV_BOX_res h2{
	font-size:1em;
	height:2.9em;
	width:100%;
	line-height:1.5em;
	overflow:hidden;
	text-overflow: ellipsis;
	padding:0px 5px;
	margin-top:5px;
	margin-bottom:5px;
	-o-text-overflow: ellipsis; /* Opera9,10対応 */
}
.MOV_BOX_res .keyword {
	height:3.1em;
	margin-bottom:0px;
}

.content_list_more [class*="col"] .MOV_thumb_box {
}

.ad_1 { display:none; }
.ad_768 { display:block; }
.ad_992 { display:none; }
.ad_1200 { display:none; }
.video_wrapper .video > iframe {height:610px;}

}

/* Desktop Layout: 992px to a max of 1200px.  Inherits styles from: Mobile Layout and Tablet Layout. */
@media ( min-width: 992px ) {
#banner {
    min-height: 300px;
    border-bottom: none;
}
.bs-docs-section {
}
.bs-component {
    position: relative;
}
.bs-component .modal {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    z-index: 1;
    display: block;
}
.bs-component .modal-dialog {
    width: 90%;
}
.bs-component .popover {
    position: relative;
    display: inline-block;
    width: 220px;
    margin: 20px;
}
.nav-tabs {
    margin-bottom: 15px;
}
.progress {
    margin-bottom: 10px;
}
.more_gdj {
	
}
.more_gdj > .content {
	padding:10px 0px;
}
.MOV_thumb_box {
	height:230px;
	box-sizing:border-box;
}
.MOV_BOX_res h2{
	font-size:1em;
	height:4em;
	margin-top:5px;
	margin-bottom:5px;
	padding:0px 5px;
	width:100%;
	line-height:1.3em;
	overflow:hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis; /* Opera9,10対応 */
}
.MOV_BOX_res .keyword {
	margin-bottom:0px;
	padding-top:0px !important;
	padding-bottom:0px !important;
}

.ad_1 { display:none; }
.ad_768 { display:none; }
.ad_992 { display:block; }
.ad_1200 { display:none; }
.video_wrapper .video > iframe {height:450px;}

}


/* Desktop Layout: 1200px to a max.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media ( min-width: 1200px ) {
#banner {
    min-height: 300px;
    border-bottom: none;
}
.bs-docs-section {
}
.bs-component {
    position: relative;
}
.bs-component .modal {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    z-index: 1;
    display: block;
}
.bs-component .modal-dialog {
    width: 90%;
}
.bs-component .popover {
    position: relative;
    display: inline-block;
    width: 220px;
    margin: 20px;
}
.nav-tabs {
    margin-bottom: 15px;
}
.progress {
    margin-bottom: 10px;
}
.MOV_BOX_res h2{
	font-size:1em;
	height:3.2em;
	width:100%;
	padding:0px 5px;
	line-height:1.5em;
	overflow:hidden;
	margin-top:5px;
	margin-bottom:5px;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis; /* Opera9,10対応 */
}

.MOV_thumb_box {
	height:264px;
	box-sizing:border-box;
}

.ad_1 { display:none; }
.ad_768 { display:none; }
.ad_992 { display:none; }
.ad_1200 { display:block; }
.video_wrapper .video > iframe {height:610px;}
}


/* 共通
----------------------------------------------------------*/
header .nav {
	font-size:1.2em;
}
header .title_logo {width:219px; height:35px;}
header .nav .keyword{}
header .nav .keyword:before{
	position:relative;
	top:4px;
	left:-3px;
	content:"";
	display:inline-block;
	width:1.2em;
	height:1.2em;
	background-image:url(../img/keyword.svg);
	background-repeat: no-repeat;
	background-size:100%;
}

header .nav .about{}
header .nav .about:before{
	position:relative;
	top:4px;
	left:-3px;
	content:"";
	display:inline-block;
	width:1.2em;
	height:1.2em;
	background-image:url(../img/keyword.svg); /*todo*/
	background-repeat: no-repeat;
	background-size:100%;
}

.mov_thumb {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}
.mov_thumb img {
	border-radius:1px 1px 0px 0px;
}

.mov_thumb iframe,
.mov_thumb object,
.mov_thumb embed {
    position: absolute;
    top: 0;
    right: 0;
    width: 100% !important;
    height: 100% !important;
}
.mov_thumb .time {
	position:absolute;
	left:2px;
	bottom:2px;
	display:inline-block;
	background:#000000;
	color:#ffffff;
	font-size:0.8em;
	line-height:0.8em;
	padding:1px 4px 2px;
	border-radius:3px;
	opacity:0.7;
}
.MOV_BOX_res .keyword {
	display:block;
	overflow:hidden;
	width:100%;
	padding:0px 3px;
	box-sizing:border-box;
}
.MOV_BOX_res .keyword  a{
	margin-right:3px;
	margin-bottom:3px;
}
.MOV_BOX_res .keyword  a:last-of-type{
	margin-right:0px;
}
.video_detail .MOV_BOX_res .keyword {
	float:left;
	display:block;
	width : -webkit-calc(100% - 100px) ;
	width : calc(100% - 100px) ;
}
.MOV_BOX_res .time {
	position:relative;
	float:right;
	display:block;
	width:100px;
	text-align:center;
	padding-top:4px;

}
.MOV_thumb_container {
	padding:0px 6px ;
}
.MOV_thumb_group {
	margin-top:1em;
	margin-bottom:1em;
}
.MOV_thumb_group .MOV_thumb_container .MOV_thumb_box {
	background:#ffffff;
	border:solid 1px #cccccc;
	border-radius:2px;
	box-sizing:border-box;
}


.form-group .checkbox { line-height:4em;}
.form-group .checkbox label { padding-left:12px; margin-right:0.5em;}
.form-group .checkbox label:last-child { margin-right:0px;}
.form-group .checkbox label.btn-lg, .form-group .checkbox label.btn-group-lg > .btn { padding: 10px 20px; }
.form-group .checkbox label.btn-sm, .form-group .checkbox label.btn-group-sm > .btn { padding: 5px 10px; }
.form-group .checkbox label.btn-xs, .form-group .checkbox label.btn-group-xs > .btn { padding: 1px 5px; }

.form-group .checkbox label input[type=checkbox]{
	display:none;
}

.listdate{
	display:block;
	text-align:right;
	font-size:0.8em;
	opacity:0.4;
	padding-left:4px;
	padding-right:4px;
	margin-bottom:2px;
	line-height:0.8em;
}

.arrow_down{
	position:relative;
}
.arrow_down:before {
	content:"＞＞";
	position:relative;
	left:-10px;
	top:-5px;
	font-size:0.7em;
	display:inline-block;
	letter-spacing:-0.7em;
	transform:rotate(90deg) scaleY(1.5) scaleX(0.8);
}
p.desc { margin:1em 0px; }


.more_gdj > .adv {
    display: table;
    margin: 8px auto 2px;
}
#footer {
	text-align:center;
}
.margin-top_s {
	margin-top:1em;
}
.margin-bottom_s {
	margin-bottom:1em;
}
.padding-top_s{
	padding-top:1em;
}
.padding-bottom_s {
	padding-bottom:1em;
}
.centering {
	display:table;
	margin-left:auto;
	margin-right:auto;
}

.round-corner {
	border-radius:1em;
}
.btn-xs.round-corner{
	padding:0px 0.6em; 
}

/*footer*/
.smaller {
	font-size: smaller;
}