<!--▼動画リスト-->
<!--▽リード-->
<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <h1 id="type" translate="list.POPULAR">人気無料エロ動画</h1>
        </div>
    </div>
</div>
<!--△リード-->
<!-- Headings -->
<!--▽AD-->
<!--<ad-spot></ad-spot>-->
<!--△AD-->
<!--▼人気動画一覧BOX-->
<div class="row">
    <div class="col-sm-3" ng-repeat="video in videos | limitTo: limit">
        <div class="bs-component MOV_thumb_box">
            <div class="mov_thumb">
                <a ng-click="go('/video/' + video._id)">
                    <img ng-src="{{video.thumbnail}}" />
                </a>
            </div>
            <div class="MOV_BOX_res">
                <h2><a class="title" ng-click="go('/video/' + video._id)">{{video.title}}</a></h2>
                <p class="keyword"><span>{{video.category}}</span></p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="bs-component">
            <a ng-click="go('/popular')" class="btn btn-default btn-block" translate="navi.POPULAR">人気動画一覧へ</a>
        </div>
    </div>
</div>
<!--▲人気動画一覧BOX-->
