<!--▽リード-->
<div class="read_L">
<!--<span translate="aside.nav.components.ui_kits.TIMELINE">Timeline</span>-->
    <div class="read_TXT" translate="list.NEWVIDEOS">new videos</div>
</div>
<!--△リード-->
<!--▼動画リスト-->
<div class="contents_sec_1 cont_sections">

	<!--Todo: ngRepeat-->
	
    <!--▼動画一覧BOX----------------------------->
    <div class="MOV_thumb_box">
        <div class="mov_thumb MOV_BOX_res">
            <!--▽動画コードここに記述（※コードのwidth（幅）やheight（縦）のサイズを書き換えず、そのままコードを貼り付ければOK）-->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Sq5QW3YqipM?controls=0&showinfo=0&autoplay=0&rel=0" frameborder="0" allowfullscreen></iframe>
            <!--△動画コード-->
        </div>
        <!--タイトル&リンク ▶-->
        <div class="mov_title"><a href="sample_movie_youtube.html">Youtube</a></div>
        <!--◀ タイトル&リンク-->
    </div>
    <!--▲動画一覧BOX----------------------------->
    <div class="clear"></div>
</div>
<!--▲動画リスト-->