<div id="head_under" class="gridContainer clearfix">
    <!--▼メインセクション-->
    <div class="main_section">
        <!--ad-->
        <ad-spot></ad-spot>
        <!--▽リード-->
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h1 id="type">{{video.title}}</h1>
                </div>
            </div>
        </div>
        <!--△リード-->
        <!-- Headings -->
        <!--▼動画再生-->
        <div class="row detail">
            <div class="col-lg-12 padding-top_s padding-bottom_s video_wrapper">
                <div class="video" ng-bind-html="trustedLink"></div>
                <div class="MOV_BOX_res">
                    <span class="time label label-default"><span translate="detail.DURATION">再生時間</span>: {{video.duration}}</span>
                    <br />
                    <p class="keyword">
                        <span ng-repeat="cat in video.category track by $index" ng-if="cat">
                            <a class="btn btn-default btn-xs round-corner" ng-click="go('/keyword/{{cat}}')">{{cat}}</a>
                        </span>
                    </p>
                    <p class="date"><span translate="detail.UPDATETIME">更新日時</span>: {{video.date}}</p>
                </div>
            </div>
        </div>
        <!--▲動画再生-->
        <!--ad-->
        <ad-spot></ad-spot>
        <!--todo: find by cat panel-->
        <div class="row">
            <div class="col-lg-12">
                <div class="bs-component">
                    <a ng-click="go('/popular')" class="btn btn-primary btn-block" translate="navi.NEWVIDEOS">新着動画一覧</a>
                </div>
            </div>
        </div>
        <!--recomended videos-->
        <div class="row" ng-if="videos.length">
            <div class="col-lg-12">
                <div class="page-header">
                    <h1 id="type" translate="detail.RECOMMENDED">お勧め動画</h1>
                </div>
            </div>
        </div>

        <div class="row MOV_thumb_group" ng-include="'partial/inner/_contentrepeater.html'" ng-if="videos.length"></div>
        
    </div>
    <!--▲メインセクション-->
    <side-menu></side-menu>
    <!--▲サイドメニュー-->
    <div class="clear" style="height:50px;"></div>
</div>