<!--▼フッター-->
<div id="footer">
    <div class="foot_top">
        <div class="gridContainer clearfix">
            
        </div>
    </div>
    <div class="foot_under">
    	<div class="gridContainer clearfix smaller" translate="footer.ABOUT">
XVIDEO♀まとめは全て無料で動画を見ることが出来るエロ動画まとめサイトです。XVIDEOS内の新しい動画から人気のある動画まで、色々なジャンルに分けて掲載しております。毎日チェックしているので削除済みの動画はほとんどありません。スマートフォンにも対応していますので夜のお共に是非お使いください！
        </div>
        <div class="gridContainer clearfix">
			mail: erohotelsales@gmail.com
        </div>
        <div class="gridContainer clearfix">
            © ero-hotel.jp All rights reserved.
        </div>
    </div>
</div>
<!--▲フッター-->