<!--▼ヘッダー下-->
<div id="head_under" class="gridContainer clearfix">
    <!--▼メインセクション-->
    <div class="main_section">
        <div class="bs-docs-section">
            <!--▼動画リスト-->
            <!--<content-repeater></content-repeater>-->
            <!--▲動画リスト-->
            <!--▼新着記事リスト-->
            <newcoming-repeater></newcoming-repeater>
            <!--▲新着記事リスト-->
        </div>
    </div>
    <!--▲メインセクション-->
    <side-menu></side-menu>
    <!--▲サイドメニュー-->
    <div class="clear" style="height:50px;"></div>
</div>
<!--▲ヘッダー下-->
