<!--▼コンテンツ-->
<div id="head_under" class="gridContainer clearfix page_ranking">
    <!--▼メインセクション-->
    <div class="main_section">
        <!--▽リード-->
        <div class="row ranking_switch_week_title">
            <div class="col-lg-12">
                <div class="page-header">
                    <h1 id="type" translate="navi.LINK">相互リンク</h1>
                </div>
            </div>
        </div>
        <!--▼このサイトについて-->
        <div class="row">
            <div class="col-sm-12">                
                <p class="desc">
                    <ol>
                        <li>
                            <a href="http://eroantenna.com/" target="_blank">
                                エロ動画アンテナ!                  
                                <img src="http://eroantenna.com/banner/88x31_1.png" />              
                            </a>
                        </li>　

                        <li>
                            <a href="http://eroantenna.com/index.xml" target="_blank">
                                エロ動画アンテナ! (RSS)                  
                                <img src="http://eroantenna.com/banner/88x31_2.png" />              
                            </a>
                        </li>

                        <li>
                            <a href="http://www.elog-ch.net/counter.php?id=route666" target="_blank">
                                エログちゃんねる - 無料で見れるエロ動画やエログの更新情報などを紹介しています
                                <img src="http://www.elog-ch.net/img/banner/88x31_1.gif" />
                                <img src="http://www.elog-ch.net/img/banner/88x31_2.gif" />
                            </a>                            
                        </li>

                        <li>
                            <a href="http://ero-kawa.com/" target="_blank">
                                えろかわちゃん！ - 無料エロ動画まとめサイト
                                <img src="https://storage.googleapis.com/mjstorage/erokawa_logo_v1.gif" style="width:15%" />
                            </a>
                        </li>                        

                        <li>
                            <a href="http://ero-kawa.com/rss_nolimit.xml" target="_blank">
                                えろかわちゃん！(RSS)
                            </a>
                        </li>

                        <li>
                            <a href="http://adult.likevideo.jp/" target="_blank">
                                likevideo - アダルト動画検索                                
                            </a>
                        </li>

                        <li>
                            <a href="http://adultcity.to/" target="_blank">
                                アダルトシティ - アダルト無料動画のポータルサイト!                                
                            </a>
                        </li> 
                    </ol>
                </p>
                <p translate="link.APPLY">相互リンクのお申し込みメール: route666@live.cn</p>
                <!--<iframe src ="http://www.adultlinkexchange.com/code/6883" scrolling="auto" width="300" frameborder="0" height="95"> </iframe>              -->
            </div>
        </div>
        <ad-spot></ad-spot>
    </div>
    <side-menu></side-menu>
    <div class="clear" style="height:50px;"></div>
</div>