<!--▼コンテンツ-->
<div id="head_under" class="gridContainer clearfix page_ranking">
    <!--▼メインセクション-->
    <div class="main_section">
        <!--▽リード-->
        <div class="row ranking_switch_week_title">
            <div class="col-lg-12">
                <div class="page-header">
                    <h1 id="type" translate="navi.LINK">相互リンク</h1>
                </div>
            </div>
        </div>
        <!--▼このサイトについて-->
        <div class="row">
            <div class="col-sm-12">                
                <p class="desc">
                    <ol>
                        <li>
                            <a href="http://i-love-ero.com/" target="_blank">【i-love-ero.com】官能小説とエロ動画ランキング</a>
                        </li>                        
                    </ol>
                </p>
                <p translate="link.APPLY">相互リンクのお申し込みメール: route666@live.cn</p>
                <iframe src ="http://www.adultlinkexchange.com/code/6883" scrolling="auto" width="300" frameborder="0" height="95"> </iframe>              
            </div>
        </div>
        <ad-spot></ad-spot>
    </div>
    <side-menu></side-menu>
    <div class="clear" style="height:50px;"></div>
</div>