<div class="col-sm-3 MOV_thumb_container">
    <div class="bs-component more_gdj MOV_thumb_box more_content">
        <div class="adv">            
            <a class="ad_1">
                <div class="centering"><img src="/img/test/ad_creative_300-250.gif" /></div>
            </a>
            <a class="ad_768"><img src="img/test/ad_creative_300-250.gif" alt="" /></a>
            <a class="ad_992">
                <maist200x200-hack></maist200x200-hack>
            </a>
            <a class="ad_1200">
                <maist200x200></maist200x200>
            </a>
        </div>
        <div class="more_videos">
            <a translate="list.MOREREAD" class="btn-primary btn-lg btn-block arrow_down" ng-hide="overCap($event)" ng-click="extendLimit($event)">もっと見る</a>
        </div>
    </div>
</div>