<header class="fluid">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a ng-href="/#/home" class="navbar-brand"><img src="img/title_logo.png" alt="XVIDEOS♀まとめ|無料エロ動画" class="title_logo" /></a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li><a translate="navi.KEYWORD" class="keyword" ng-href="/#/keyword">キーワード</a></li>
                    <li class="dropdown">
                        <a translate="navi.POPULAR" class="dropdown-toggle about" data-toggle="dropdown" role="button" aria-expanded="false">人気動画 <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a translate="navi.POPULARWEEKLY" ng-href="/#/weeklypopular"></a>
                            </li>
                            <li>
                                <a translate="navi.POPULARMONTHLY" ng-href="/#/monthlypopular"></a>
                            </li>
                            <li>
                                <a translate="navi.POPULARFULLTIME" ng-href="/#/fulltimepopular"></a>
                            </li>
                        </ul>
                    </li>
                    <li><a translate="navi.ABOUT" class="about" ng-href="/#/about">アバウト</a></li>
                    <li><a translate="navi.LINK" class="link" ng-href="/#/link">相互リンク</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>