<!--▼動画リスト-->
<!--▽リード-->
<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <h1 id="type" translate="list.NEWVIDEOS">新着無料エロ動画</h1>
        </div>
    </div>
</div>
<!--△リード-->
<!-- Headings -->
<!--▽AD-->
<!--<ad-spot></ad-spot>-->
<!--△AD-->
<!--▼人気動画一覧BOX-->
<div class="row">
    <div class="col-sm-3" ng-repeat="video in videos | limitTo: 10">
        <div class="bs-component MOV_thumb_box">
            <div class="mov_thumb">
                <a ng-click="go('/video/' + video._id)">
                    <img ng-src="{{video.thumbnail}}" />
                </a>
                <span class="time">{{video.duration}}</span>
            </div>
            <div class="MOV_BOX_res">
                <h2><a class="title" ng-click="go('/video/' + video._id)">{{video.title}}</a></h2>
                <p class="keyword">
                    <span ng-repeat="cat in video.categories track by $index" ng-if="cat">
                        <a ng-click="go('/keyword/' + decodeURIComponent(cat))" class="accent-color">{{cat}}</a>
                    </span>
                </p>
            </div>
        </div>
    </div>
    <!--▽AD-->
    <native-ad-spot videos="videos"></native-ad-spot>
    <!--▽AD-->
</div>
<!--▲新着動画一覧BOX-->
<!--▲動画リスト-->
