<!--▼動画リスト-->
<!--▽リード-->
<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <h1 id="type" translate="list.NEWVIDEOS">新着無料エロ動画</h1>
        </div>
    </div>
</div>
<!--△リード-->
<!-- Headings -->
<!--▽AD-->
<!--<ad-spot></ad-spot>-->
<!--△AD-->
<!--▼人気動画一覧BOX-->
<div class="row">
    <div class="col-sm-3" ng-repeat="video in videos | limitTo: limit">
        <div class="bs-component MOV_thumb_box">
            <div class="mov_thumb">
                <a ng-click="go('/video/' + video._id)">
                    <img ng-src="{{video.thumbnail}}" />
                </a>
            </div>
            <div class="MOV_BOX_res">
                <h2><a class="title" ng-click="go('/video/' + video._id)">{{video.title}}</a></h2>
                <p class="keyword"><span>{{video.category}}</span></p>
            </div>
        </div>
    </div>

    <!--todo: directive it-->
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="bs-component more_gdj">
            <div class="adv">
                <!-- 広告は画面サイズでclassを切り替えている。classで実行されているのはdisplayをnone blockの違いだけ。 スマホad_1 タブレットad_768 ノートPC ad_992 デスクトップPC ad_1200 -->
                <a href="/" class="ad_1">
                    <div class="centering"><img src="/img/test/ad_creative_300-250.gif" /></div>
                </a>
                <a href="#" class="ad_768"><img src="img/test/ad_creative_300-250.gif" alt="" /></a>
                <a href="#" class="ad_992"><img src="img/test/ad_creative_200-200.gif" alt="" /></a>
                <a href="#" class="ad_1200"><img src="img/test/ad_creative_300-250.gif" alt="" /></a>
            </div>
            <div class="">
                <a href="#" translate="list.MOREREAD" class="btn btn-primary btn-lg btn-block">もっと見る</a>
            </div>
        </div>
    </div>
</div>
<!--▲新着動画一覧BOX-->
<!--▲動画リスト-->
