<!--▽リード-->
<div class="read_L">
    <div class="read_TXT">新着コラム</div>
</div>
<!--△リード-->
<!--▼新着記事リスト-->
<div class="contents_sec_2 cont_sections">
    <!--todo: ngRepeat-->
    <!--▼記事リスト----------------------------->
    <div class="blog_list">
        <!--サムネイル ▶-->
        <div class="blog_list_thum"><img src="img/test/sample_01.png" alt="" /></div>
        <!--◀ サムネイル-->
        <div class="blog_list_TXTarea">
            <!--タイトル ▶-->
            <div class="blog_title title_link"><i class="fa fa-play-circle fontico_color"></i> <a href="sample_subpage.html">新着記事タイトル（News Title）</a></div>
            <!--◀ タイトル-->
            <!--日付 ▶-->
            <div class="blog_date">2015.6.7 (Tue.）</div>
            <!--◀ 日付-->
            <!--▽テキスト（このテキストはスマホでの閲覧時は表示されません-->
            <div class="blog_cont_TXT">ここのテキストはレスポンシブの関係上、スマホ閲覧時には表示されないように設定しています。PC・タブレットでの閲覧時には表示されます。上の記事タイトルと日付などは書き換えてください。</div>
            <!--△テキスト-->
        </div>
        <div class="clear"></div>
        <hr>
    </div>
    <!--▲記事リスト----------------------------->
</div>
<!--▲新着記事リスト-->
