<!--▼コンテンツ-->
<div id="head_under" class="gridContainer clearfix page_ranking">
    <!--▼メインセクション-->
    <div class="main_section">
        <!--▽リード-->
        <div class="row ranking_switch_week_title">
            <div class="col-lg-12">
                <div class="page-header">
                    <h1 id="type" translate="navi.RSS">RSS</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <a class="btn btn-primary btn-block" translate="rss.feed" href="http://ero-hotel.jp/rss.xml">RSSフィード</a>
                <p class="desc">
                    <ol>
                        <li ng-repeat="entry in entries">
                            <a ng-href="{{entry.link}}" target="_blank">{{entry.title}}</a>
                            <div class="gridContainer clearfix" ng-bind-html="entry.content"></div>
                        </li>
                    </ol>
                </p>
                <a class="btn btn-primary btn-block" translate="rss.feed" href="http://ero-hotel.jp/rss.xml">RSSフィード</a>
            </div>
        </div>
    </div>
    <side-menu></side-menu>
    <div class="clear" style="height:50px;"></div>
</div>