<div class="row">
    <!--▼サイドメニュー-->
    <div class="side_menu_section">
        <!--▽サイドバーリード-->
        <!--<div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h1 id="type" translate="list.SIDERECOMMEND" class="ng-scope">こちらもオススメ</h1>
                </div>
            </div>
        </div>-->
        <!--△サイドバーリード-->
        <!--▽バナー-->
        <div class="col-lg-12">
            <h2>
                <a href="#" class="ad_992"><img src="img/test/ad_creative_300-250.gif" alt="" /></a>
                <a href="#" class="ad_1200"><img src="img/test/ad_creative_300-250.gif" alt="" /></a>
            </h2>
        </div>
        <!--△バナー-->
        <!--▽サイドバーリード-->
        <div class="read_S">
            <div class="read_TXT">人気キーワード</div>
        </div>
        <!--△サイドバーリード-->
        <div class="side_menu_box_border">
            <li class="side_menu_List"><a href="sample_subpage_2.html">素人</a></li>
            <li class="side_menu_List"><a href="#">中出し</a></li>
            <li class="side_menu_List"><a href="#">蒼井そら</a></li>
            <li class="side_menu_List"><a href="#">無料</a></li>
            <li class="side_menu_List"><a href="#">人妻</a></li>
            <li class="side_menu_List"><a href="#">美少女</a></li>
            <li class="side_menu_List"><a href="#">女子高生</a></li>
            <li class="side_menu_List"><a href="#">ギャル</a></li>
            <li class="side_menu_List"><a href="#">巨乳</a></li>
            <li class="side_menu_List"><a href="#">&gt; キーワード一覧</a></li>
        </div>
    </div>
    <!--▲サイドメニュー-->
    <!--▽バナー-->
    <!-- <div class="side_menu_box" align="center">
        <a href="#"><img src="img/test/ad_creative_250-600.jpg" alt="" /></a>
    </div> -->
    <!--△バナー-->
</div>