<!--▼サイドメニュー-->
<div class="side_menu_section">
    <!--▽サイドバーリード-->
    <div class="read_S">
        <div class="read_TXT">バナーエリア</div>
    </div>
    <!--△サイドバーリード-->
    <!--▽バナー-->
    <div class="side_menu_box" align="center"><img src="img/test/img_01.png" alt="" /></div>
    <!--△バナー-->
    <!--▽サイドバーリード-->
    <div class="read_S">
        <div class="read_TXT">サイドバーリード</div>
    </div>
    <!--△サイドバーリード-->
    <div class="side_menu_box_border">
        <li class="side_menu_List"><a href="sample_subpage_2.html">サブページ1</a></li>
        <li class="side_menu_List"><a href="#">サブページ2</a></li>
        <li class="side_menu_List"><a href="#">サブページ3</a></li>
        <li class="side_menu_List"><a href="#">サブページ4</a></li>
        <li class="side_menu_List"><a href="#">サブページ5</a></li>
    </div>
</div>
<!--▲サイドメニュー-->