<div class="row">
    <!--▼サイドメニュー-->
    <div class="side_menu_section">
        <!--▽バナー-->
        <!--comment out temporarily-->
        <!--<div class="col-lg-12">
            <h2>                
                <a class="ad_1200"><maist300x250></maist300x250></a>
            </h2>
        </div>-->
        <!--△バナー-->
        <!--▽サイドバーリード-->
        <div class="read_S">
            <div class="read_TXT" translate="list.POPULARKEYWORD">人気キーワード</div>
        </div>
        <!--△サイドバーリード-->
        <div class="side_menu_box_border">
            <li class="side_menu_List" ng-repeat="cat in aggregateCats | limitTo: limit" ng-if="cat.name">
                <a ng-href="/#!/keyword/{{cat.name}}">{{cat.name}}</a><span class="cat_count">({{cat.count}})</span>
            </li>
            <li class="side_menu_List"><a ng-href="/#!/keyword" translate="list.KEYWORDLIST">&gt;キーワード一覧</a></li>
        </div>

        <div class="side_menu_box_border">
            <!-- エロ動画アンテナ widget ver.4 -->
            <div id="eroantenna_widgetbox_v4"></div>
            <script src="http://widget.eroantenna.com/widget4.php?parts_id=eroantenna_widgetbox_v4&parts_display=5&parts_width=270&iw=270&ih=200&mw=0&mh=0&tc=ffffff&tb=000000&ts=12&tp=1&word=" charset="utf-8"></script>
        </div>
    </div>
</div>
